body{
    margin: 0;
}
.contenitore-intestazione{
    background-color:rgb(79, 160, 253);
    background-image: url(../img/pattern.png);
    height: 91px;
    background-size: 359px;
}

.contenitore-intestazione img{
    height: 60%;
    margin-left: 9px;
    margin-top: 29px;
}

#titolo-pagina{
    font-size: 50px;
}

#testo-firma{
    font-size: 25px;
    color: grey;
    margin-top: -30px;
}

#firma{
    color: rgb(5, 176, 255)
}

#data-articolo{
    font-size: 20px;
}

.immagini-articolo p{
    font-size: 12px;
    margin-top: 2px;
}

.testo-evidenziato{
    background-color: yellow;
}

.punti-chiave ul{
    padding-left: 0;
    list-style-position: inside;
    margin-left: 3px;
}

#th-1{
    width: 20%;
    text-align: left;
    color: white;
}

#th-2{
    text-align: left;
    width: 20%;
    color: white;
}

#th-3{
    text-align: left;
    width: 55%;
    color: white;
}

thead{
    background-color: rgb(34, 168, 227);
}

table{
    border-spacing: 0;
}

.tr-colorata{
    background-color: rgb(176, 228, 241);
}

footer>p{
    color: grey;
    margin-top: 50px;
}

#immagine-link1{
    background-image: url(../img/monitor.jpg);
}

#immagine-link2{
    background-image: url(../img/graph.jpg);
}

footer div{
    width: 300px;
    height: 220px;
    background-repeat: no-repeat;
}

footer div p{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 0;

}
